<% if logged_in? %>
  <ul class='list-group'>
    <% @tasks.each do |task| %>
      <li class='list-group-item'>
        <div class='row'>
          <div class='col-sm-6'>
            <p class='mb-0'><span class='badge badge-pill badge-info'>タスク</span><%= task.content %></p>
          </div>
          <div class='col-sm-3'>
            <p class='mb-0'><span class='badge badge-pill badge-secondary'>状態</span><%= task.status %></p>
          </div>
          <div>
            <% if current_user == task.user %>
              <%= link_to '詳細を確認する',task_path(task) %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
    <%= paginate @tasks %>
  </ul>
<% else %>
  <div class= 'center jumbotron' style='background-color:'>
    <div class='text-center'>
      <h1>Tasklistを始めよう！</h1>
      <%=link_to 'アカウント作成', signup_path, class: 'btn btn-info' %>
      <%=link_to 'ログイン',login_path, class: 'btn btn-outline-info' %>
    </div>
  </div>
<% end %>