<% if logged_in? %>
  <ul class='list-group'>
    <div class='list-unstyled'>
      <% @tasks.each do |task| %>
        <li class='list-group-item media '>
          <img class='mr-2 rounded' src='<%= gravatar_url(task.user,{size: 50}) %>' alt=''>
          <div class='media-body'>
            <%= link_to task.user.name, user_path(task.user) %><span class='text-muted'>posted at <%= task.created_at %></span>
          </div>
          <div class='row'>
            <div class='col-sm-6'>
              <p class='mb-0'><span class='badge badge-pill badge-info'>タスク</span><%= task.content %></p>
            </div>
            <div class='col-sm-3'>
              <p class='mb-0'><span class='badge badge-pill badge-secondary'>状態</span><%= task.status %></p>
            </div>
            <div>
                <%= link_to '編集する',edit_task_path(task) %>
              <% if current_user == task.user %>
                <%= link_to '削除する',task,method: :delete,data:{confirm: '本当に削除しますか'} %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
      <%= paginate @tasks %>
    </div>
  </ul>
  
<% else %>
  <div class= 'center jumbotron' style='background-color:'>
    <div class='text-center'>
      <h1>Tasklistを始めよう！</h1>
      <%=link_to 'アカウント作成', signup_path, class: 'btn btn-info' %>
      <%=link_to 'ログイン',login_path, class: 'btn btn-outline-info' %>
      </div>
  </div>
<% end %>